{% extends 'base.html' %}

{% block content %}
{% if validlink %}
<div class="container">
	<div>
        <h2>Set a new password!</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change my password">
        </form>
	</div>
</div>
{% else %}
<div class="container">
	<div>
        <p>The password reset link was invalid, possibly because it has already been used.</p>
        <p>Please request a new password reset.</p>
	</div>
</div>
{% endif %}
{% endblock %}